<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- log4netセクションのハンドラ設定 -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DmSvForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <log4net>
    <!-- ===================================================================== -->
    <!--                 ログ出力先の設定(アペンダーの設定)                    -->
    <!-- ===================================================================== -->
    <!-- ▼ファイル出力用[RollingFileAppender] -->
    <appender name="DRSForm_INFO" type="log4net.Appender.RollingFileAppender">
      <!-- ファイル名 -->
      <File value=".\DRSForm_INFO.log" />
      <AppendToFile value="true" />
      <RollingStyle value="Size" />
      <MaximumFileSize value="10MB" />
      <MaxSizeRollBackups value="5" />
      <SaticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%d{yyyy/MM/dd HH:mm:ss} %m%n" />
      </layout>
    </appender>
    <logger name="DRSLog">
      <level value="INFO" />
      <appender-ref ref="DRSForm_INFO" />
    </logger>
  </log4net>
  <appSettings>
    <!-- 追加の応答情報の保存先フォルダ -->
    <add key="EXResFiles" value=".\\addRes" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>